<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet", href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>This is {{name}} and Mitzon</h2>
        <img class="cat" src="/img/me.jpeg">
    </div>
    {{>footer}}
</body>

</html>