<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet", href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <h1 class="error">{{errorMessage}}</h1>
        {{>header}}
        <br><br>
        <br><br>
        <a href="/">Back to Homepage</a>
        <br><br>
    </div>
    
    {{>footer}}
</body>

</html>