<footer>
    <h5>
        Created by Rotem Ester ltd 
        <a href="https://64.media.tumblr.com/d522afbcdf0e5f1a49a0befb9a7a9d00/36c79f6171cfa084-9e/s400x600/8af2060491658924181527e40df18bfc2d1509a6.gifv">click here</a>
    </h5>
</footer>